#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    height: 20%;
    width: 25%;
    background-color: blueviolet;
    box-sizing: border-box;
    box-shadow: 0 .1px 1px black;
}

input {
    margin-top: 3%;
    padding-left: 2%;
}

.btnAplicar {
    padding: .5% 1% .5% 1%;
    font-size: 1vw;
}