@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
}

html, body, #container {
    height: 100%;
}

#root {
    height: 100%;
    background-color: #F5F5F5;
    color: #F5F5F5;
}

#subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}